.selected {
  background: #BBD8DC;
}

li:hover {
  background: #00ffee;
  cursor: pointer;
}

li.selected:hover {
  background-color: #00ddcc;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  line-height: 4vh;
  height: 4vh;
}
